<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>занятие</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('blocks/menu.ejs') %>
    <h1>Список занятий</h1>
    <table>
        <tr>
            <td>№</td>
            <td>Название на русском</td>
            <td>Время</td>
            <td>Оригинальное название</td>
            <td>День недели</td>
        </tr>
        <% for(let i=0; i<data.length; i++){ %>
        <tr>
            <td><%= (i+1) %></td>
            <td><%= data[i]['russian_name'] %></td>
            <td><%= data[i]['time'] %></td>
            <td><%= data[i]['original_name'] %></td>
            <td><%= data[i]['day'] %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>